@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 222.2 84% 4.9%; /* #020817 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 222.2 84% 4.9%; /* #020817 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 222.2 84% 4.9%; /* #020817 */
    --primary: 222.2 47.4% 11.2%; /* #0F1729 */
    --primary-foreground: 210 40% 98%; /* #F8FAFC */
    --secondary: 210 40% 96.1%; /* #F1F5F9 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* #0F1729 */
    --muted: 210 40% 96.1%; /* #F1F5F9 */
    --muted-foreground: 215.4 16.3% 46.9%; /* #64748B */
    --accent: 210 40% 96.1%; /* #F1F5F9 */
    --accent-foreground: 222.2 47.4% 11.2%; /* #0F1729 */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 210 40% 98%; /* #F8FAFC */
    --border: 214.3 31.8% 91.4%; /* #E2E8F0 */
    --input: 214.3 31.8% 91.4%; /* #E2E8F0 */
    --ring: 222.2 84% 4.9%; /* #020817 */
    --chart-1: 12 76% 61%; /* #E86343 */
    --chart-2: 173 58% 39%; /* #2A9D8F */
    --chart-3: 197 37% 24%; /* #264653 */
    --chart-4: 43 74% 66%; /* #E9C46A */
    --chart-5: 27 87% 67%; /* #F4A261 */
    --radius: 0.5rem;
    --sidebar-background: 210 40% 98%; /* #F8FAFC */
    --sidebar-foreground: 240 5.3% 26.1%; /* #3F4147 */
    --sidebar-primary: 240 5.9% 10%; /* #191919 */
    --sidebar-primary-foreground: 0 0% 98%; /* #FAFAFA */
    --sidebar-accent: 0 0% 100%; /* #FFFFFF */
    --sidebar-accent-foreground: 240 5.9% 10%; /* #191919 */
    --sidebar-border: 0 0% 100%; /* #FFFFFF */
    --sidebar-ring: 217.2 91.2% 59.8%; /* #3B82F6 */
  }
  .dark {
    --background: 225 23.1% 10.2%; /* #141720 */
    --foreground: 210 40% 98%; /* #F8FAFC */
    --card: 222.2 84% 4.9%; /* #020817 */
    --card-foreground: 210 40% 98%; /* #F8FAFC */
    --popover: 225 23.1% 10.2%; /* #141720 */
    --popover-foreground: 210 40% 98%; /* #F8FAFC */
    --primary: 210 40% 98%; /* #F8FAFC */
    --primary-foreground: 225 23.1% 10.2%; /* #141720 */
    --secondary: 217.2 32.6% 17.5%; /* #1E293B */
    --secondary-foreground: 210 40% 98%; /* #F8FAFC */
    --muted: 217.2 32.6% 17.5%; /* #1E293B */
    --muted-foreground: 215 20.2% 65.1%; /* #94A3B8 */
    --accent: 217.2 32.6% 17.5%; /* #1E293B */
    --accent-foreground: 210 40% 98%; /* #F8FAFC */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 210 40% 98%; /* #F8FAFC */
    --border: 217.2 32.6% 17.5%; /* #1E293B */
    --input: 217.2 32.6% 17.5%; /* #1E293B */
    --ring: 212.7 26.8% 83.9%; /* #CBD5E1 */
    --chart-1: 220 70% 50%; /* #1E40AF */
    --chart-2: 160 60% 45%; /* #2A9D8F */
    --chart-3: 30 80% 55%; /* #D97706 */
    --chart-4: 280 65% 60%; /* #7E22CE */
    --chart-5: 340 75% 55%; /* #BE185D */
    --sidebar-background: 225 23.1% 10.2%; /* #141720 */
    --sidebar-foreground: 240 4.8% 95.9%; /* #F4F4F5 */
    --sidebar-primary: 224.3 76.3% 48%; /* #3B82F6 */
    --sidebar-primary-foreground: 0 0% 100%; /* #FFFFFF */
    --sidebar-accent: 217.2 32.6% 17.5%; /* #1E293B */
    --sidebar-accent-foreground: 240 4.8% 95.9%; /* #F4F4F5 */
    --sidebar-border: 225 23.1% 10.2%; /* #141720 */
    --sidebar-ring: 217.2 91.2% 59.8%; /* #3B82F6 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", sans-serif;
  }
}
